body{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  margin: 0;
}

.section-one{
  display: flex;
  flex-direction: column;
  padding: 0 175px;
  background-color: #1F2937;
}

.section-one .header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

ul{
  list-style: none;
  display: flex;
  gap: 24px;
}

a{
  text-decoration: none;
}

.section-one .body{
  display: flex;
  justify-content: space-between;
}

.body-left .main-text{
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.body-left .secondary-text,
.header a{
  font-size: 18px;
  color: #F9FAF8;
}

.header .logo{
  font-size: 24px;
  color: #F9FAF8;
  margin-top: 16px;
}

.image-placeholder img{
  width: 500px;
  height: 220px;
}

.body .body-left{
  margin-right: 90px;
}

.body-left button{
  background-color: royalblue;
  font-size: 16px;
  color: white;
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  margin: 8px 0 140px 0;
}

.section-two{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-two .heading{
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  margin: 48px 0;
}

.section-two .container{
  display: flex;
  gap: 60px;
  justify-content: center;
}

.section-two img{
  width: 140px;
  height: 140px;
  border: 4px solid royalblue;
  border-radius: 16px;
  margin-bottom: 4px;
}

.container .subtext{
  max-width: 140px;
  margin-bottom: 100px;
}